.auto { cursor : auto; }
.default { cursor : default; }
.pointer { cursor : pointer; }
.crosshair { cursor : crosshair; }
.move { cursor : move; }
.text { cursor : text; }
.wait { cursor : wait; }
.help { cursor : help; }
.n-resize { cursor : n-resize; }
.s-resize { cursor : s-resize; }
.w-resize { cursor : w-resize; }
.e-resize { cursor : e-resize; }
.ne-resize { cursor : ne-resize; }
.nw-resize { cursor : nw-resize; }
.se-resize { cursor : se-resize; }
.sw-resize { cursor : sw-resize; }
.progress { cursor : progress; }
.url { cursor : url('master.png'), auto; }
.hand { cursor : hand; }
.no-drop { cursor : no-drop; }
.all-scroll { cursor : all-scroll; }
.col-resize { cursor : col-resize; }
.row-resize { cursor : row-resize; }
.not-allowed { cursor : not-allowed; }
.vertical-text { cursor : vertical-text; }
