h1 {
    display: list-item;
    margin-left: 30px;
    font-size: 16px;
    list-style-type: circle;
    list-style-position: outside;
}

.sample {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#box1 {
    background-image: radial-gradient(skyblue, red);
}
#box2 {
    background-image: radial-gradient(white, black, blue);
}
#box3 {
    background-image: radial-gradient(at left top, white, black);
}
#box4 {
    background-image: radial-gradient(at top, white, black);
}
#box5 {
    background-image: radial-gradient(at right top, white, black);
}
#box6 {
    background-image: radial-gradient(at right, white, black);
}
#box7 {
    background-image: radial-gradient(at right bottom, white, black);
}
#box8 {
    background-image: radial-gradient(at bottom, white, black);
}
#box9 {
    background-image: radial-gradient(at left bottom, white, black);
}
#box10 {
    background-image: radial-gradient(at left, white, black);
}
#box11 {
    background-image: radial-gradient(at 50px 50px, white, black);
}
#box12 {
    background-image: radial-gradient(20px at 50px 50px, white, black);
}
#box13 {
    background-image: radial-gradient(20px at 50px 50px, white, black, blue);
}
#box14 {
    background-image: repeating-radial-gradient(white, black 20px);
}
#box15 {
    background-image: radial-gradient(circle 50px, white, black);
}
#box16 {
    background-image: radial-gradient(ellipse 30px 50px, white, black);
}
#box17 {
    background-image: radial-gradient(ellipse 50px 30px, white, black);
}
#box18 {
    background-image: radial-gradient(ellipse closest-side at 80px 50px, white, black);
}
#box19 {
    background-image: radial-gradient(ellipse closest-corner at 80px 50px, white, black);
}
#box20 {
    background-image: radial-gradient(ellipse farthest-side at 80px 50px, white, black);
}
#box21 {
    background-image: radial-gradient(ellipse farthest-corner at 80px 50px, white, black);
}
#box22 {
    background-image: radial-gradient(circle closest-side at 80px 50px, white, black);
}
#box23 {
    background-image: radial-gradient(circle closest-corner at 80px 50px, white, black);
}
#box24 {
    background-image: radial-gradient(circle farthest-side at 80px 50px, white, black);
}
#box25 {
    background-image: radial-gradient(circle farthest-corner at 80px 50px, white, black);
}
