h1, p, span {
    border: orange 1px solid;
    font-size: 12px;
}

.block, .inline {
    width: 200px;
    padding: 10px;
    border: 1px black solid;
    margin: 10px;
}

p, span {
    display: inline;
    width: 50px; /* インライン要素のためwidth指定はできない */
}
