h1, p, span {
    border: orange 1px solid;
    font-size: 12px;
}

.block, .inline {
    width: 200px;
    padding: 10px;
    border: 1px black solid;
    margin: 10px;
}

p, span {
    display: inline-block;
    width: 50px; /* inline-blockはインライン要素のように扱うが、ブロック要素のプロパティを指定可能 */
}
