html {
    background-color: white;
}

body {
    width: 90%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-left: solid rgb(221, 12, 161) 2px;
    border-right: solid rgb(221, 12, 161) 2px;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    position: relative;
    background-image: repeating-linear-gradient(to top, rgba(255, 209, 179, .5), rgba(255, 209, 179, 1) 20px);
    border-radius: 30px;
    height: 60px;
    width: 100%;
    text-align: center;
}

header h1 {
    position: relative;
    top: 10px;
    font-size: 32px;
}

.nav1, .nav2, .nav3 {
    border: solid 1px pink;
    width: 100px;
    text-align: center;
    color: rgba(255, 130, 213, .8);
    font-family: メイリオ;
    font-weight: bold;
    background-color: rgba(203, 247, 255, 1);
    border-radius: 20px;
    height: 24px;
}

.nav1 {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    float: left;
}

.nav2, .nav3 {
    display:none;
    overflow: visible;
}

.nav1:hover > .nav2 {
    display: block;
    float: left;
}

.nav2:hover > .nav3 {
    display: block;
    transform: translate(100px, -24px);
}

section {
    clear: left;
    margin-top: 50px;
}
