/*
詳細度の序列(昇順)
1. 全称セレクタ
2. タイプセレクタ
3. クラスセレクタ
4. 属性セレクタ
5. 擬似クラス
6. ID セレクタ
7. インラインスタイル

1.要素/疑似要素
2.属性/疑似クラス
3.idセレクタ
4.style属性
*/

/* 0 1 0 0 0 1 0 */
/* 1 0 1 0 */
a#uniq {
    color: violet;
}

/* 0 1 1 1 0 0 0 */
/* 1 2 0 0 */
a.link[title] {
    color: skyblue;
}

/* 0 1 0 0 1 0 0 */
/* 1 2 0 0 */
a.link:hover {
    /*color: yellow  !important;*/
    color: yellow;
}

/* 0 2 1 0 0 0 0 */
/* 1 1 0 0 */
a.link {
    color: red;
}

/* 0 2 0 0 0 0 0 */
/* 2 0 0 0 */
div a {
    color: blue;
}

/* 1 0 0 0 0 0 0 */
/* 1 0 0 0 */
* {
    color: black;
}
