h1, p, span {
    border: orange 1px solid;
    font-size: 12px;
}

.block, .inline {
    width: 200px;
    padding: 10px;
    border: 1px black solid;
    margin: 10px;
}

p, span {
    display: block;
    width: 50px;
}
